@import url('../../Main.css');

.Products-Wrapper {
    margin-top: 3%;
}

.products-container {
    display: flex;
    box-shadow: var(--box-shadow);
    position: relative;
    background-color: #ffffff;
    border-radius: var(--border-raduis);
    height: auto;
    padding-bottom: 10px;
}

.mySwiper-products {
    border-radius: var(--border-raduis);
}

.products-container::before {
    content: "";
    width: 8%;
    position: absolute;
    right: 1%;
    top: -7px;
    height: 0;
    height: 10px;
    background-color: var(--color-3);
    border-radius: var(--border-raduis);
    z-index: -9999;
}

.Products-Wrapper-title {
    color: var(--color-3);
    font-weight: bold;
    margin-right: 14px;
    margin-bottom: 10px
}

.pd {
    padding-bottom: 10px;
}

@media (max-width:576px) {
    .products-container::before {
        width: 35%
    }

    .show-about-text {
        font-size: .8rem !important;
    }

    .Products-Wrapper {
        margin-top: 8%;
    }
}