@import url('../../Main.css');

.basket-items-container {
    max-height: 800px;
    overflow-y: scroll;
}

.basket-items-container::-webkit-scrollbar {
    display: none;
}

.basket-title {
    font-size: var(--font-size1);
}

.text-empty-basket {
    margin-top: 20px;
    color: var(--color-4);
    font-weight: bold;
}

.basket-empty {
    background-color: #ffff;
    box-shadow: var(--box-shadow);
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    border-radius: var(--border-raduis);
}

@media (max-width:576px) {
    .basket-empty {
        width: 100%;
    }
}