@import url('../../Main.css');

.wrapper-off {
    width: 90px;
    height: 70px;
    position: relative;
    border-radius: 8px;
}

.text-off {
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    font-size: 20px;
}

.cilp-path {
    position: absolute;
    width: 20px;
    height: 20px;
    clip-path: circle(50% at 50% 50%);
    top: 50%;
    transform: translateY(-50%);
    background-color: #FFF;
}

.clip1 {
    left: -10px;
}

.clip2 {
    right: -10px;
}