@import url('../../Main.css');

.clip-path {
    padding-top: 13px;
    font-size: .85rem;
    position: absolute;
    color: #ffff;
    text-align: center;
    top: 0;
    left: 0;
    clip-path: polygon(100% 0, 100% 100%, 49% 70%, 49% 70%, 1% 100%, 0 0);
    width: 100%;
    height: 50px;
    background-color: var(--color-7);
    position: absolute;
    bottom: -2px;
    width: 36px;
    height: 60px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

@media (max-width:576px) {
    .off-product {
        height: 70px;
        left: 0px;
    }
}