@import url('../../Main.css');

.btn-1 {
    border: none;
    outline: none;
    background-color: var(--color-sub-13);
    color: var(--color-4);
    padding: 5px 14px;
    border-radius: var(--border-raduis);
    min-width: 120px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 4px;
    font-size: 1rem;
    transition: all .3s;
}

.btn-1:hover {
    background-color: #e9e2e2;
}

@media (max-width:576px) {
    .btn-1 {
        min-width: 100px;
        text-align: center;
    }
}