@import url('../../Main.css');

@font-face {
    font-family: 'IranYekan';
    src: url('../src /Font/IRYekan.eot') format('eot'),
        url('../src /Font/IRYekan.woff') format('woff'),
        url('../src/Font/IRYekan.woff2') format('woff2'),
        url('../src/Font/IRYekan.ttf') format('ttf');
}

.dropdown-product {
    display: flex;
    background-color: #ffffff;
    color: var(--color-sub-5);
    z-index: 999;
    position: relative;
    font-size: var(--font-size2);
    font-weight: bold;
    width: max-content;
}

.main-Product {

    box-shadow: var(--box-shadow);
    border-radius: var(--border-raduis);
    background-color: #ffffff;
    padding: 15px;
}

.main-img-product-wrapper {
    width: 100%;
    position: relative;
    border-radius: var(--border-raduis);
    cursor: pointer;

}

.main-img-product-wrapper>img {
    height: 100% !important;

}

.main-img-product {
    width: 100%;
    border-radius: var(--border-raduis);
    max-height: 253.34px !important;

}

.some-img {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(91px, 1fr));
    margin-top: 5%;
}

.main-product-img-item {
    height: 100px;
    border-radius: var(--border-raduis);
    overflow: hidden;
}

.main-product-img-item>img {
    width: 100%;
    height: 100%;
}

.main-product-name-score {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 7px;
}

.main-product-attributes-wrapper {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.timing-off-wrapper {
    color: var(--color-3);
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.time-off {
    background-color: var(--color-sub-13);
    border: 1px solid #707070;
    padding: 3px 5px;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.off-specials {
    border: 1px solid var(--color-7);
    background-color: #f1e1e1;
    color: var(--color-7);
    text-align: center;
    border-radius: var(--border-raduis);
    padding: 5px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}



.main-product-attributes-title {
    color: var(--color-3);
}

.main-product-model-span {
    color: var(--color-3);
    margin-left: 7px;
}

.text-main-product {
    margin-top: 10px;
    color: #cfc9dc;
    font-size: .9rem
}

.main-services-wrapper {
    margin-top: 20px;
    color: var(--color-sub-11);

}

.product-service-item {
    margin-top: 15px;
}

.main-product-price-wrapper {
    border-top: 1px solid #d9d9d9;
    margin-top: 20px;
    padding-top: 15px;
}

.main-product-price-title {
    display: flex;
    align-items: center;
    color: var(--color-1);
    font-size: 1.1rem;
}

.main-product-price-old {
    font-size: .8rem;
    color: var(--color-4);
    margin-right: 10px;
}

.main-product-price-new {
    font-size: 1.1rem;
    color: var(--color-7);
    margin-right: 10px;
}

.main-product-price-new-currency {
    font-size: .8rem;
}

.add-baskect-btn {

    display: flex;
    justify-content: space-between;
    border: none;
    outline: none;
    border-radius: var(--border-raduis);
    color: #ffffff;
    background-color: var(--color-1);
    height: 35px;
    min-width: 200px;
    padding-right: 25px;
    line-height: 35px;
    box-shadow: var(--box-shadow);
    font-size: .8rem !important
}

.add-baskect-btn-icon {
    margin-right: 15px;
    background-color: var(--color-sub-13);
    height: 100%;
    width: 30%;
}

.product-about {
    margin-top: 5%;

}

.MuiButtonBase-root {
    font-family: "IranYekan" !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: var(--color-3) !important;
}

.css-1aquho2-MuiTabs-indicator {
    background-color: var(--color-3) !important;
}

.css-heg063-MuiTabs-flexContainer {
    display: flex !important;
}

.MuiButtonBase-root {
    display: flex !important;
    flex-direction: row !important;
}

.product-specifications-img {
    width: 100%;
    height: 100%;
}

.product-specifications-top {
    height: 45vh;
}

.product-specifications-img-wrapper {
    height: 100%;
    border-radius: var(--border-raduis);
    overflow: hidden;
}

.product-specifications-text {
    overflow-y: scroll;
    color: var(--color-4);
    font-family: "IranYekan";
    font-size: .7rem;
    line-height: 1.7rem;
    padding: 10px 0;
    font-weight: bold;
}

.product-specifications-text::-webkit-scrollbar {
    display: none;
}

.comments-wrapper {
    max-height: 500px;
    overflow-y: scroll;
    width: 100%;
    padding: 0 10px;
}

.comments-wrapper::-webkit-scrollbar {
    display: none;
}

.send-comment-wrapper-title {
    color: var(--color-3);
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.comment-text {
    font-family: "IranYekan";
    font-size: .7rem;
    line-height: 1.4rem;
}

.comment-place {
    border: none;
    border-radius: var(--border-raduis);
    background-color: #f2f2f2;
    width: 250px;
    height: 100px;
    resize: none;
    outline: none;
    padding: 10px;
    font-size: .9rem;
}

.comment-place-wrapper {
    margin-top: 2%;

}

.css-1qqgbpl-MuiRating-root {
    color: var(--color-1) !important;
}

.send-score {
    display: flex;
    align-items: start;
    margin-top: 2%
}

.btn-send-comment {
    border: none;
    outline: none;
    color: #ffff;
    background-color: var(--color-1);
    min-width: 131px;
    height: 36px;
    border-radius: var(--border-raduis);
    margin-right: 20px;
}

.off-detail {
    width: 80%;
}

.product-services-list {
    padding-right: 20px;
    font-size: .8rem;
}

.options-buy {
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket-options {
    display: flex;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-raduis);
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    width: 102px;
    color: var(--color-7);
    margin-right: 10px;
}

.plus-product {
    font-size: 1.2rem;
    cursor: pointer;
}

.count-product {
    padding: 0 10px;
}

.delete-product-basket {

    cursor: pointer;
}

.product-more-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: var(--border-raduis);
    box-shadow: var(--box-shadow);
    max-width: 1000px;
    z-index: 9999999;
    max-height: 400px !important;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.product-more-img-active {
    opacity: 1;
    visibility: visible;
}

.title-more-image {
    color: var(--color-3);
}

.product-more-img-top {
    padding: 10px;
    border-bottom: 1px solid lightgray;
    color: var(--color-4);
}

.roduct-more-img-content {
    height: 350px;
}

.roduct-more-img-slider {
    width: 50%;
}

.image-more-product {
    width: 100%;
    height: 100%;
}

.roduct-more-img-info {
    padding: 10px;
    height: 100%;
    overflow-y: scroll;
    width: 50%;
}

.product-more-img-content-text {
    font-size: .7rem;
    font-weight: bold;
    line-height: 1.7rem;
    color: var(--color-4);
}

.product-specifications-img-wrapper-col {
    height: 100%;
}

.btn-disable {
    cursor: not-allowed;
}

.alert-comment {
    background-color: var(--color-3) !important;
    color: #ffff !important;
}

.tab-title {
    margin-right: 10px;
}

@media (max-width:1061px) {
    .product-more-img {
        max-width: 95%;
    }
}

@media (max-width:992px) {
    .services-wrapper {
        margin-top: 20px !important;
    }

    .main-services-wrapper {
        margin-top: 10%;
    }

    .timing-off-wrapper {
        margin-top: 15px;
    }
}

@media (max-width:768px) {
    .off-detail {
        width: 50%;

    }

    .main-services-wrapper {
        margin-right: 25px;
    }

    .main-services-wrapper {
        margin-top: 5%;
    }

    .product-specifications-top {
        overflow-y: scroll;
        flex-wrap: wrap;
    }

    .product-specifications-img-wrapper-col {
        margin-top: 20px !important;
    }

}

@media (max-width:677px) {
    .roduct-more-img-info {
        width: 100% !important;
    }

    .roduct-more-img-slider {
        margin: 0 auto;
        width: 90%;
    }

    .roduct-more-img-info {
        display: none;
    }
}

@media (max-width:576px) {
    .main-services-wrapper {
        margin-top: 8%;
        margin-right: 5px;
    }

    .css-19kzrtu {
        padding: 0 !important;
    }

    .roduct-more-img-slider {
        margin: 0 auto;
        width: 100%;
    }

    .all-Products-more {
        grid-template-columns: repeat(auto-fit, minmax(180px, 150px));
    }
}