@import url('../../main.css');

.header-container {
    width: 100%;
    padding-top: 1%;
    background-color: #ffff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
    padding-bottom: 1%;
    border-radius: 0 0 8px 8px;
    z-index: 99999999999999999999;
    top: 0;
}

.fixed {
    z-index: 99999999999999999999;
    top: 0;
    position: fixed;
}

.moreVertIcon {
    margin-right: -10px;
}

.categorys-wrapper a.active::after {
    width: 100%;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1%;
    width: 80%;
    margin: 0 auto;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: end;
}

.searchinput-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #523f81;
    width: max-content;
    position: relative;
}

.result-search {
    position: absolute;
    top: 120%;
    left: 0;
    background-color: #ffff;
    padding: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    z-index: 2;
    min-width: 200px;
    direction: rtl;
    color: var(--color-sub-12);
    font-size: var(--font-size2);
}

.header-small {
    position: relative;
}

.user {
    background-color: var(--color-8);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.card-wrapper {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: var(--color-8);
    height: 2rem;

}

.user,
.card-wrapper {
    border-radius: 5px;
}

.user {
    margin-left: 7%;
}


.card-header,
.person-header {
    color: var(--color-sub-11) !important;
}

.phone-user-container {
    display: flex;
    align-items: center;
    border-left: 1px solid var(--color-4) !important;
    margin-left: 7%;
    justify-content: space-between;
    padding-left: 7%;
    color: var(--color-4);
    cursor: pointer;

}

.phone-user {
    direction: ltr;
    width: 200px;
    font-size: var(--font-size1)
}

.div-border {
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
}

.header-buttom {
    direction: ltr;
    padding-top: 1%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchicon-header {
    color: var(--color-sub-12);
    cursor: pointer;
}

.searchinput {
    border: none;
    outline: none;
    padding: 2px 10px;
    direction: rtl;
}

.searchinput::placeholder {
    color: var(--color-sub-12);
    font-size: .9rem;
}

.number-purchase {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--color-1);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    line-height: 14px;
}


.header-small {
    width: 95%;
    border: none;
    box-shadow: var(--box-shadow);
    margin: 3% auto;
    background-color: #ffff;
    border-radius: 20px;
    overflow: hidden;

}


.category-item {
    all: unset;
    cursor: pointer;
    margin-left: 35px;
    text-align: center;
    padding-bottom: 7px;
    position: relative;
}

.category-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-7);
    transition: width 0.3s ease;
}

.category-item:hover::after {
    width: 100%;

}


.sub-user-wrapper {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ffff;
    z-index: 999999;
    border-radius: var(--border-raduis);
    box-shadow: var(--box-shadow);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.sub-user-wrapper-active {
    opacity: 1;
    visibility: visible;
}

.register-wrapper {
    color: var(--color-4);
    font-size: .8rem;
}

.register-item {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    cursor: pointer;
    transition: all .3s;
}

.register-item:first-child {
    min-width: 200px;
}

.register-item:hover {
    background-color: var(--color-sub-7);
}




.register-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
    backdrop-filter: blur(5px);
}

.swal-footer {
    text-align: center;
}

.swal-button--confirm {
    outline: none;
}


@media (max-width:992px) {
    .header-container {
        width: 100%;
    }

    .header-top {
        width: 90%;
    }

    .phone-user-container {
        width: auto;
    }

    .header-container {
        padding-top: 5%;
    }

    .header-top {
        padding-bottom: 3%;
    }

    .phone-user {
        width: 160px;
        margin-left: 5px;
    }

    .basket {
        margin-left: 10px;
    }
}

@media (max-width:768px) {
    .phone-user {
        display: none;
    }
}

@media (max-width:576px) {
    .header-info {
        justify-content: space-between;
    }

    .user1 {
        margin-left: 15px;
    }
}