@import url('../../Main.css');



.slider-container {
    margin-top: 2%;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 50vh;
    border-radius: var(--border-raduis);
    overflow: hidden;
}

.mySwiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #d9d9d9 !important;
    opacity: 0.5;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.swiper-button-prev:after {
    font-size: 1.1rem !important;

}

.swiper-button-next:after {
    font-size: 1.1rem !important;

}

.swiper-button-prev,
.swiper-button-next {
    background-color: #a299ac4c;
    backdrop-filter: blur(1px);
    border-radius: 50%;
    width: 30px !important;
    height: 30px !important;
}

.swiper-rtl .swiper-button-prev:after {
    color: #000;
}

.swiper-button-next:afterr {
    color: #000;
}

.swiper-rtl .swiper-button-next:after {
    color: #000;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-1) !important;
}

.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(farthest-side, var(--color-3) 94%, #0000) top/9px 9px no-repeat,
        conic-gradient(#0000 30%, var(--color-3));
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
    animation: spinner-c7wet2 1s infinite linear;
}

.loadingSilder {
    background-color: #ffff;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-raduis);
    margin-top: 30px;
    padding: 50px 0;
}

@keyframes spinner-c7wet2 {
    100% {
        transform: rotate(1turn);
    }
}

@media (max-width:576px) {
    .slider-container {
        height: 200px;
    }
}