@import url('../../Main.css');

.basketItem-wrapper {
    background-color: #ffffff;
    border-radius: var(--border-raduis);
    box-shadow: var(--box-shadow);
    margin: 20px 0;
}

.basket-img-text-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-basket-item-wrapper {
    max-width: 160px;
    max-height: 150px;
    border-radius: var(--border-raduis);
    overflow: hidden;
}

.basket-number {
    text-align: center;
}

.basket-tops-title {
    background-color: var(--color-sub-13);
    color: var(--color-4);
    padding: 7px 10px;
    font-size: 1.2rem;
}

.img-basket-item-wrapper>img {
    width: 100%;
    height: 100%;
}

.basket-title {
    text-align: center;
    font-weight: bold;
}

.basket-bottom {
    padding: 15px 10px;

}

.basket-name,
.basket-price,
.basket-all-price {
    color: var(--color-2);
    font-weight: bold;
}

.basket-model,
.basket-currency {
    color: var(--color-4);
    margin-top: 7px;
}

.basket-price {
    color: var(--color-2);
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 5px 10px !important;
    outline: none !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    width: 70px;
}

.mui-focused {
    all: unset !important;
}

.mobile-wrapper {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-raduis);
    margin-top: 20px;
    padding-bottom: 20px;
}

.delete-mobile-close {
    padding: 15px;
}

.img-mobile-wrapper {
    width: 70%;
    margin: 0 auto;
    height: 30vh;
    border-radius: var(--border-raduis);
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.img-mobile {
    width: 100%;
    height: 100%;
}

.first {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobile-name-model-wrapper {
    display: flex;
    flex-direction: column;
}

.second {
    display: flex;
    align-items: center;
}

.mobile-price {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}

.third {
    display: flex;
    align-items: center;
}


.mobile-price-all {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.basket-number-wrapper {
    display: flex;
    justify-content: center;
}

.change-count-wrraper {
    display: flex;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 3px 10px;
    border-radius: 5px;
    align-items: center;
}

.count-content {
    margin: 0 15px;
}

.increase-count,
.decrease-count,
.count-content {
    cursor: pointer;
    color: var(--color-7);
}