* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    background-color: #f5f5f5;
}

p {
    margin-bottom: 0 !important;
}



@font-face {
    font-family: 'IranYekan';
    src: url('../src /Font/IRYekan.eot') format('eot'),
        url('../src /Font/IRYekan.woff') format('woff'),
        url('../src/Font/IRYekan.woff2') format('woff2'),
        url('../src/Font/IRYekan.ttf') format('ttf');
}

html,
body:lang(fa) {
    font-family: 'IranYekan', sans-serif !important;
}

:root {
    --color-1: #523f81;
    --color-2: #031a3d;
    --color-3: #005764;
    --color-4: #707070;
    --color-5: #ffd166;
    --color-6: #9c5e2f;
    --color-7: #f14444;
    --color-8: #f2ebec;
    --color-sub-1: #3f2583;
    --color-sub-2: #beade8;
    --color-sub-3: #cfc9dc;
    --color-sub-4: #ffffff;
    --color-sub-5: #133569;
    --color-sub-6: #121823;
    --color-sub-7: #d9dce2;
    --color-sub-8: #4b7a81;
    --color-sub-9: #37656c;
    --color-sub-10: #cad2c5;
    --color-sub-11: #949494;
    --color-sub-12: #cfcfcf;
    --color-sub-13: #f1f1f1;
    --border-raduis: 8px;
    --box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.16);
}